.body {
    position: relative;
}

.list-group-item.active {
    background-color: #2ea44f;
    border-color: var(--primary);
}

.list-group-item {
    padding: .5rem;
}

.holder {
    min-height: 90vh;
}

.pass {
    color: var(--success)
}
.fail {
    color: var(--danger)
}

.play-list {
    max-width: 30rem;
}

.full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.79);
    color: #fff;
    text-align: center;
    overflow: auto;
    backdrop-filter: blur(2px);
    z-index: 100;
}

.result-board {
    display: none;
}

.form-settings {
    max-width: 30rem;
}
.question-box {
    max-width: 30rem;
}

.center-y {
    height: 100vh;
    overflow: auto;
    padding: 4rem 0 2rem 0;
    margin: 0 auto;
}

/* loaders  */
.loader {
    text-align: center;
}

/* alerts */
.alert {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}